<div class="container">
  <div class="card-white">
    <div class="double-cards-grid">
      <div class="grid-card">
        <h2 class="header-blue mb-4 text-center">Editar meu perfil</h2>
        <%= simple_form_for(resource,
                            as: resource_name,
                            url: registration_path(resource_name),
                            html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div>
            <%= f.input :email, required: true, autofocus: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
                <%= f.input :name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Name"},
                        label:"Nome" %>
            <%= f.input :lastname,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Last name"},
                        label:"Sobrenome" %>
            <%= f.input :username,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Username"} %>
            <%= f.input :password,
                        hint: "Deixe em branco se você não deseja trocar a senha",
                        required: false,
                        input_html: { autocomplete: "new-password" },
                        label:"Nova contrasenha" %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" },
                        label:"Confirmação de senha" %>
            <%= f.input :current_password,
                        hint: "Insira a senha atual para confirmar mudanças",
                        required: true,
                        input_html: { autocomplete: "current-password" },
                        label:"Senha atual" %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Atualizar", class: "btn btn-blue w-100 mt-3" %>
          </div>
        <% end %>

        <div class= "card-details w-100">
            <%= link_to "Voltar", :back, class: " btn btn-gray w-100" %>
          <div>
            <p>Não está feliz?</p>
            <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
          </div>
        </div>
      </div>

      <div class="grid-card">
        <%= image_tag "undraw_fingerprint_re_uf3f.svg" %>
      </div>
    </div>
    </div>
  </div>
</div>
