<div class= "container">
  <div class= "card-white">
    <div class="double-cards-grid">
      <div class="grid-card">
        <h2 class="header-blue mb-4 text-center">Registrar-se</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), defaults: {label: false}) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Nome"},
                        placeholder: 'Name'%>
            <%= f.input :lastname,
                        required: true,
                        autofocus: true,
                        placeholder: 'Sobrenome'%>
            <%= f.input :username,
                        required: true,
                        autofocus: true,
                        placeholder: 'username'%>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        placeholder: 'Email'%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length),
                        placeholder: 'Senha' %>
            <%= f.input :password_confirmation,
                        required: true,
                        placeholder: 'Confirmação de senha' %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Unir-me", class: "btn btn-blue w-100 mt-3" %>
          </div>
        <% end %>

        <div class="my-3 text-line">
          <span>ou</span>
        </div>

        <div class= "text-center">
        <%= render "devise/shared/links" %>
        </div>
      </div>

      <div class="grid-card">
        <%= image_tag "undraw_mobile_login_re_9ntv.svg" %>
      </div>
    </div>

  </div>
</div>
