<nav class="navbar navbar-light navbar-site z-3">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand fs-4" do %>
      <i class="fa-solid fa-helmet-safety"></i>
      <strong>Constru</strong>Forum
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title fw-bolder" id="offcanvasNavbarLabel">Menu</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav  nav-tabs justify-content-end flex-grow-1 pe-3">
          <% if user_signed_in? %>
            <li class="nav-item text-capitalize fw-bold mx-0 px-2">
              <%= current_user.name + " " + current_user.lastname%>
            </li>
            <li class="nav-item">
              <%= link_to "Página inicial", root_path, class: "nav-link px-2", aria: { current: :page} %>
            </li>
            <li class="nav-item">
              <%= link_to "Minhas publicações", my_posts_posts_path, class: "nav-link px-2" %>
            </li>
            <li class="nav-item">
              <%= link_to "Editar meu perfil", edit_user_registration_path, class: "nav-link  px-2" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link  px-2" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Página inicial", root_path, class: "nav-link px-2" %>
            </li>
            <li class="nav-item">
              <%= link_to "Entrar na minha conta", new_user_session_path, class: "nav-link px-2" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
